<h1> <%= @historicalMoment.name %> </h1>


<h3> Events: <br>
<% @historicalMoment.events.each do |event| %>
<%= link_to event.name, event_path(event) %> <br>
<% end %>
</h3>


<%= form_tag historical_moment_path(@historicalMoment), method: :delete do %>
 <%= submit_tag "Delete Historical Moment" %>
<% end %>

