<style> body {background-color: #e01010; } </style>
<h1>Moments In Time</h1>
<h2>Discover History Moments Through The Ages</h2>
<h3>Login</h3><%= form_tag sessions_path do %>
    <%= label :user, :username %>
    <%= text_field :user, :username %>
<% end %>

<img src= <%= "https://theteachersdigest.com/wp-content/uploads/2014/07/History.png" %> alt="">

