<h1> Historical Events</h1>

<h3>
<% @events.each do |event| %>
<%= link_to event.name, event_path(event) %> <br>
<% end %>
</h3>

<%= form_tag new_event_path, method: :get do %>
 <%= submit_tag "Create Historical Event" %>
<% end %>